<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebCrm.Rest.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebCrm.Rest.Net.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://api.webcrm.com</value>
            </setting>
            <setting name="ApiVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>INSERT_YOUR_API_TOKEN_HERE</value>
            </setting>
            <setting name="UnsupportedSchemeExceptionMessage" serializeAs="String">
                <value>This client only supports HTTPS</value>
            </setting>
            <setting name="DefaultTimeoutMillis" serializeAs="String">
                <value>250</value>
            </setting>
        </WebCrm.Rest.Net.Properties.Settings>
    </applicationSettings>
</configuration>